<div class="container__big-card">


    <div class="big-card__photo">
        <img src="https://angular.dev/assets/images/ng-image.jpg" 
        alt=""
        width="400px"
        height="200px"
        srcset="">
    </div>

        <div class="big-card__title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>


    <div class="big-card__description">

        <p>
           <a href="#"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia a repellendus cum vel iusto enim reprehenderit voluptates fugit
            , nulla illum perferendis, recusandae ab, modi itaque numquam animi quas ullam aliquam. </a>
        </p>

    </div>

    

</div>
