

<div class="container_small-card">
<div class="container__small-card-content">

    <div class="small-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcd5CKslgD6QFc4bs12bJLYZwrMpEx2DR-mMgv4EBqd0CL-r--0dDGLwoCAg2R_CtAOS0&usqp=CAU" 
        alt=""
        srcset="">
    </div>

    <div class="small-card__title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>

</div>

<div class="container__small-card-separator">
    <hr/>
</div>

</div>

